<html ng-controller="mainController"><head>
<title>{{app.title}}</title>
<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/angular-tabs.css">

<link rel="stylesheet" type="text/css" href="plugins/font-awesome/css/font-awesome.min.css">
<!-- ngProgress -->
 <link rel="stylesheet" type="text/css" href="node_modules/ngprogress/ngProgress.css">
</head>
<body style="height:100%">
	<!-- Menu  -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">
					{{app.title}}
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ng-repeat="menu in menus">
						<a href="#" ng-click="addTab(menu)">{{menu.name}}</a>
					</li>
					<li class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">File <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
								<a href=""><span class="glyphicon glyphicon-asterisk"></span> New</a></a>
								<ul class="dropdown-menu">
									<li>
										<a href="" ng-click="newConnection()"><i class="fa fa-plug"></i> Connection</a>
									</li>
									<li role="separator" class="divider"></li>
									<li>
										<a href="#"><i class="fa fa-database"></i> Database</a>
									</li>
									<li role="separator" class="divider"></li>
									<li>
										<a href="" ng-click="newEditor()">
											<i class="fa fa-file"></i> Editor
										</a>
									</li>
								</ul>
							</li>
							<li role="separator" class="divider"></li>
						</ul>
					</li>
					<li>
						<a href="" ng-click="newEditor()">
							<i class="fa fa-file"></i> New Editor
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Onde será carregada a view -->
	<div class="container-fluid" ng-init="getDatabases()">
		<div class="row">
			<div class="col-md-3" >
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default" ng-repeat="database in databases">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{database.id}}" aria-expanded="true" aria-controls="collapseOne">
									{{database.alias}} 
								</a>
								<div class="pull-right">
									<button ng-show="!database.connected" ng-click="connect(database)" data-toggle="tooltip" data-placement="right" title="Connect" class="btn btn-primary btn-xs"><i class="fa fa-plug"></i></button>
									<button ng-show="!database.connected" ng-click="remove(database)" data-toggle="tooltip" data-placement="right" title="Remove" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
									<button ng-show="database.connected" ng-click="disconnect(database)" data-toggle="tooltip" data-placement="right" title="Disconnect" class="btn btn-default btn-xs"><i class="fa fa-remove"></i></button>
									<button ng-show="database.connected" ng-click="refresh(database)" data-toggle="tooltip" data-placement="right" title="Refresh" class="btn btn-success btn-xs"><i class="fa fa-refresh"></i></button>
								</div>
							</h4>
						</div>
						<div id="collapse{{database.id}}" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<table class="table">
									<tr ng-repeat="table in database.tables">
										<td>{{table.name}}</td>
										<td>
											<button class="btn btn-danger btn-xs" data-toggle="tooltip" ng-click="dropTable(database, table.name)" data-placement="right" title="DROP table {{table.name}}"><i class="fa fa-trash"></i></button>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" ng-repeat="tab in tabs" ng-class="{active: tab.active}"><a href="#" ng-click="activeMe(tab)">{{tab.name}}<button ng-click="close(tab)" class="close">x</button></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" ng-repeat="tab in tabs" class="tab-pane" ng-class="{active: tab.active}" id="home" ng-include="'views/'+tab.view" ng-controller="tab.controller" ng-init="tab_id = tab.id">

					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" tabindex="-1" role="dialog" id="modalConnction">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">New Connection</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-12">
								<label>File:</label>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="" ng-model="connection.path">
									<span class="input-group-btn">
										<button class="btn btn-default" type="button" ng-click="callFileInput()">...</button>
									</span>
								</div><!-- /input-group -->
								<input type="file" id="file" style="display:none"   custom-on-change="uploadFile" >
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Alias:</label>
								<input type="text" class="form-control" ng-model="connection.alias">
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<label>Algorithm</label>
								<select class="form-control" ng-model="connection.algorithm">
									<option ng-repeat="algorithm in algorithms" value="{{algorithm}}">{{algorithm}}</option>
								</select>
							</div>
							<div class="col-md-6">
								<label>Password</label>
								<input type="password" class="form-control" ng-model="connection.password">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-primary" ng-click="testConnection()">{{btnTest}}</button>
						<button type="button" class="btn btn-success" ng-click="connectSave()">Save and connect</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	</div>
	<!-- jQuery -->
	<script>window.$ = window.jQuery = require('jquery');</script>
	<!-- load ace -->
	<script src="node_modules/ace-builds/src-min/ace.js"></script>
	<!-- load ace language tools -->
	<script src="node_modules/ace-builds/src-min/ext-language_tools.js"></script>

	<!-- Bootstrap -->
	<script src="bootstrap/js/bootstrap.js"></script>

	<!-- Angular -->
	<script src="node_modules/angular/angular.js"></script>
	<!-- Angular - Pagination -->
	<script src="node_modules/angular-utils-pagination/dirPagination.js"></script>
	<!-- Ace -->
	<script type="text/javascript" src="node_modules/ace-angular/ace-angular.js"></script>
	<!-- ngProgress -->
 	<script type="text/javascript" src="node_modules/ngprogress/build/ngProgress.js"></script>

	<!-- App -->
	<script src="app/app.js"></script>

	<!-- Controllers -->
	<script src="controllers/homeController.js"></script>
	<script src="controllers/mainController.js"></script>
	<script src="controllers/editorController.js"></script>

	<!-- Services -->
	<script type="text/javascript" src="services/databaseService.js"></script>

	<!-- Angular Bootstrap -->
	<script src="app/angular.bootstrap.js"></script>

</body></html>